header {
	display: flex;
	margin: 0 auto;
	height: 80 px;
	background-color: black;
	font-size: 15px;
	align-items: center;
}

a:link {
	color:#fff;
}

a:hover {
	color:gray;
}

a:active {
	color:red;
}

a:visited {
	color:blueviolet;
}

.searchBar {
    background-color: #fff;
    display: flex;
    width: 250px;
    height: 30px;
    justify-items: center;
}

#searchButton {
	background-color: red;
}

nav ul li {
	display: inline-block;
	padding: 20px;
	box-sizing: border-box;
	color: #fff;
	text-transform: uppercase;
}

.logo {
	background-color: red;
	color: white;
	text-align: center;
}

.rightside {
	color:#fff;
	text-align: right;
	font-size: 10px;
	text-transform: uppercase;
	align-self: flex-end; 
}

#shop {
	display: inline-block;
	justify-content: flex-end;
}

#cartImage {
	filter: invert(100%);
}

footer {
	display: flex;
	position: fixed;
	bottom: 0;
	justify-content: space-evenly;
	align-items: center;
	background-color:black;
	width: 100%;
}

footer ul li {
	display: inline-block;
	padding: 20px;
	box-sizing: border-box;
	color: #fff;
	text-transform: uppercase;
}

h2.contentHeader {
	text-shadow: 1px 1px;
}
